In [2]:
import pandas as pd
import os

import plotly.graph_objects as go
import plotly.express as px
from plotly.subplots import make_subplots
import plotly.figure_factory as ff

from urllib.request import urlopen

#import json
import psycopg2

In [3]:
File = os.path.join('D:',os.sep,'IG Data', 'escolasLatitude.csv')
#File = os.path.join('C:',os.sep,'Users', 'emanuelqueiroga', 'scripts', 'data' , 'escolasLatitude.csv')
df = pd.read_csv(File, sep=';')

In [4]:
conn = psycopg2.connect(host="35.247.202.234",database="dw",user="consulta",password="teste123")
query = """
select * from public.dimensoes_est de
inner join escolas.aluno a 
on de.id_aluno = a.id_aluno 
inner join escolas.turma t 
on a.id_turma = t.id_turma 
inner join escolas.escola e 
on t.id_escola = e.cod_escola;
"""
df2 = pd.read_sql(query,conn)
conn.close() #close the connection

In [5]:
df

,Restrição de Atendimento,Escola,Código INEP,UF,Município,Localização,Localidade Diferenciada,Categoria Administrativa,Endereço,Telefone,Dependência Administrativa,Categoria Escola Privada,Conveniada Poder Público,Regulamentação pelo Conselho de Educação,Porte da Escola,Etapas e Modalidade de Ensino Oferecidas,Outras Ofertas Educacionais,Latitude,Longitude
0,ESCOLA ATENDE EXCLUSIVAMENTE ALUNOS COM DEFICI...,EEEE ABNAEL MACHADO DE LIMA - CENE,11000023,RO,Porto Velho,Urbana,A escola não está em área de localização difer...,Pública,"AVENIDA AMAZONAS, 6492 ZONA LESTE. TIRADENTES....",(69) 992083054,Estadual,Não Informado,Não,Não,Entre 51 e 200 matrículas de escolarização,Ensino Fundamental,Atendimento Educacional Especializado,-8.758459,-63.854011
1,ESCOLA EM FUNCIONAMENTO E SEM RESTRIÇÃO DE ATE...,EMEIEF PEQUENOS TALENTOS,11000040,RO,Porto Velho,Urbana,A escola não está em área de localização difer...,Pública,"RUA CAETANO, 3256 PREDIO. CALADINHO. 76808-108...",(69) 32274273,Municipal,Não Informado,Não,Sim,Entre 201 e 500 matrículas de escolarização,Educação Infantil,NaN,-8.793730,-63.883919
2,ESCOLA EM FUNCIONAMENTO E SEM RESTRIÇÃO DE ATE...,CENTRO DE ENSINO CLASSE A,11000058,RO,Porto Velho,Urbana,A escola não está em área de localização difer...,Privada,"AVENIDA CARLOS GOMES, 1135 CENTRO. 76801-123 P...",(69) 32244473,Privada,Particular,Não,Sim,Mais de 1000 matrículas de escolarização,"Educação Infantil, Ensino Fundamental, Ensino ...",NaN,-8.760734,-63.901986
3,ESCOLA EM FUNCIONAMENTO E SEM RESTRIÇÃO DE ATE...,CENTRO EDUCACIONAL PRESBITERIANO 15 DE NOVEMBRO,11000082,RO,Porto Velho,Urbana,A escola não está em área de localização difer...,Privada,"RUA ALMIRANTE BARROSO, 1483 SANTA BARBARA. 768...",(69) 32245636,Privada,Particular,Não,Sim,Entre 51 e 200 matrículas de escolarização,"Educação Infantil, Ensino Fundamental",NaN,-8.765205,-63.896177
4,ESCOLA EM FUNCIONAMENTO E SEM RESTRIÇÃO DE ATE...,CENTRO EDUC CORA CORALINA,11000104,RO,Porto Velho,Urbana,A escola não está em área de localização difer...,Privada,"RUA MEXICO, 1056 NOVA PORTO VELHO. 76820-190 P...",(69) 32252616,Privada,Particular,Não,Sim,Entre 501 e 1000 matrículas de escolarização,"Educação Infantil, Ensino Fundamental",NaN,-8.768633,-63.875471
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216554,ESCOLA PARALISADA,ESC DIVINO MESTRE,53084071,DF,Brasília,Urbana,Não Informado,Privada,"QUADRA QNP 21 CONJUNTO H, CEILANDIA NORTE CEIL...",(61) 35856361,Privada,Não Informado,Não,NaN,NaN,NaN,NaN,NaN,NaN
216555,ESCOLA EM FUNCIONAMENTO E SEM RESTRIÇÃO DE ATE...,COBIAN - COL BIANGULO,53085000,DF,Brasília,Urbana,A escola não está em área de localização difer...,Privada,"QNJ 22 - LOTES 34 E 36, TAGUATINGA NORTE. 7214...",(61) 34756945,Privada,Particular,Não,Sim,Entre 201 e 500 matrículas de escolarização,"Educação Infantil, Ensino Fundamental",NaN,-15.815942,-48.085108
216556,ESCOLA EM FUNCIONAMENTO E SEM RESTRIÇÃO DE ATE...,CED VITORIA REGIA,53086007,DF,Brasília,Urbana,A escola não está em área de localização difer...,Privada,"RUA 07 CH 333 LOTE 333/E, SETOR HABITACIONAL V...",(61) 35976668,Privada,Particular,Não,Sim,Entre 51 e 200 matrículas de escolarização,"Ensino Fundamental, Ensino Médio",NaN,NaN,NaN
216557,ESCOLA PARALISADA,CED SANTOS DUMONT - CESAN,53087003,DF,Brasília,Urbana,Não Informado,Privada,"QUADRA 203 CONJUNTO 6, 06/15 LOTES 06 E 15. SE...",(61) 33391545,Privada,Não Informado,Não,NaN,NaN,NaN,NaN,NaN,NaN
216558,ESCOLA PARALISADA,OBRA SOCIAL NOSSA SENHORA DE FATIMA,53088034,DF,Brasília,Urbana,Não Informado,Privada,"QUADRA SETOR D SUL, TAGUATINGA SUL TAGUATINGA....",(61) 33972571,Privada,Não Informado,Não,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df2

,id,id_aluno,E_ESCV,E_PROFV,E_FAMV,E_COMV,E_ESTV,E_ESCC,E_PROFC,E_FAMC,...,conveniada_poder_publico,regulamentacao_conselho,porte,etapas_e_modalidade_ensino,outras_ofertas,cod_regiao,micro,meso,regiao,cod_estado
0,62,14799,0.000000,0.000000,0.000000,0.000000,0.000000,1,1,1,...,Não,Sim,Entre 501 e 1000 matrículas de escolarização,"Ensino Fundamental, Educação de Jovens Adultos",None,3,ALVORADA D'OESTE,LESTE RONDONIENSE,Norte,11
1,31,19175,2.000000,1.000000,2.000000,1.000000,1.777778,1,1,1,...,Não,Sim,Entre 201 e 500 matrículas de escolarização,Ensino Fundamental,Atendimento Educacional Especializado,3,ALMEIRIM,BAIXO AMAZONAS,Norte,15
2,30,19174,2.500000,1.000000,3.500000,1.888889,2.888889,1,1,2,...,Não,Sim,Entre 201 e 500 matrículas de escolarização,Ensino Fundamental,Atendimento Educacional Especializado,3,ALMEIRIM,BAIXO AMAZONAS,Norte,15
3,29,19152,2.000000,1.500000,3.333333,1.888889,2.888889,1,1,1,...,Não,Sim,Entre 201 e 500 matrículas de escolarização,Ensino Fundamental,Atendimento Educacional Especializado,3,ALMEIRIM,BAIXO AMAZONAS,Norte,15
4,28,19150,4.000000,1.000000,1.000000,1.000000,1.666667,2,1,1,...,Não,Sim,Entre 201 e 500 matrículas de escolarização,Ensino Fundamental,Atendimento Educacional Especializado,3,ALMEIRIM,BAIXO AMAZONAS,Norte,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,24,19010,2.333333,3.000000,4.166667,2.777778,3.555556,1,2,2,...,Não,Sim,Entre 201 e 500 matrículas de escolarização,"Ensino Fundamental, Educação de Jovens Adultos",Atendimento Educacional Especializado,3,ALMEIRIM,BAIXO AMAZONAS,Norte,15
58,23,18999,1.000000,3.000000,3.833333,1.666667,2.888889,1,2,2,...,Não,Sim,Entre 201 e 500 matrículas de escolarização,"Ensino Fundamental, Educação de Jovens Adultos",Atendimento Educacional Especializado,3,ALMEIRIM,BAIXO AMAZONAS,Norte,15
59,22,18994,1.000000,2.333333,4.333333,3.222222,4.666667,1,1,3,...,Não,Sim,Entre 201 e 500 matrículas de escolarização,"Ensino Fundamental, Educação de Jovens Adultos",Atendimento Educacional Especializado,3,ALMEIRIM,BAIXO AMAZONAS,Norte,15
60,21,18993,2.666667,1.500000,1.833333,2.000000,3.555556,1,1,1,...,Não,Sim,Entre 201 e 500 matrículas de escolarização,"Ensino Fundamental, Educação de Jovens Adultos",Atendimento Educacional Especializado,3,ALMEIRIM,BAIXO AMAZONAS,Norte,15
61,1,4734,4.750000,3.000000,4.666667,4.333333,3.833333,3,2,3,...,Não,Sim,Entre 51 e 200 matrículas de escolarização,Ensino Fundamental,"Atendimento Educacional Especializado, Ativida...",2,BAIXO CURU,CENTRO-SUL CEARENSE,Nordeste,23

In [7]:
list(df2)

['id',
 'id_aluno',
 'E_ESCV',
 'E_PROFV',
 'E_FAMV',
 'E_COMV',
 'E_ESTV',
 'E_ESCC',
 'E_PROFC',
 'E_FAMC',
 'E_COMC',
 'E_ESTC',
 'created_date',
 'updated_date',
 'id_aluno',
 'id_turma',
 'cod_matricula',
 'nome_turma',
 'nome_aluno',
 'tp_sexo',
 'id_turma',
 'id_escola',
 'nome_turma',
 'modo_ensino',
 'etapa_ensino',
 'ano_turma',
 'data_criacao',
 'resticao_de_atendimento',
 'escola',
 'cod_escola',
 'uf',
 'municipio',
 'localizacao',
 'localidade_diferenciada',
 'categoria_administrativa',
 'endereco',
 'telefone',
 'dependencia_administrativa',
 'categoria_escola',
 'conveniada_poder_publico',
 'regulamentacao_conselho',
 'porte',
 'etapas_e_modalidade_ensino',
 'outras_ofertas',
 'cod_regiao',
 'micro',
 'meso',
 'regiao',
 'cod_estado']

In [12]:
df_escolas = df2['id_escola'].value_counts()
df_escolas = df_escolas.reset_index()
df_escolas.columns = ['id_escola', 'Quant. Estudantes']
df_escolas

   id_escola  Quant. Estudantes
0   15562158                 28
1   15547574                 18
2   15070387                 14
3   23095776                  1
4   11000937                  1

In [ ]:
df2['id_escola'].nunique()

In [ ]:
df_for = ['E_ESCC', 'E_PROFC', 'E_FAMC', 'E_COMC', 'E_ESTC']

for x in df_for:
    #print(x)
    df_temp = df.groupby(x)['id'].count()
    df_temp = df_temp.reset_index()
    df_temp.columns = ['Classificação', 'Quant. Estudantes']
    df_temp['Dimensão'] = x
    df_temp['Porcentagem'] = (df_temp['Quant. Estudantes'] / df_temp['Quant. Estudantes'].sum()) * 100
    frames = [df_dim, df_temp]
    df_dim = pd.concat(frames)

5

In [4]:
df = df[df['Latitude'].notna()]
df = df[df['Longitude'].notna()]
df = df[df['Escola'].notna()]
len(df)

158742

In [6]:
list(df)

['Restrição de Atendimento',
 'Escola',
 'Código INEP',
 'UF',
 'Município',
 'Localização',
 'Localidade Diferenciada',
 'Categoria Administrativa',
 'Endereço',
 'Telefone',
 'Dependência Administrativa',
 'Categoria Escola Privada',
 'Conveniada Poder Público',
 'Regulamentação pelo Conselho de Educação',
 'Porte da Escola',
 'Etapas e Modalidade de Ensino Oferecidas',
 'Outras Ofertas Educacionais',
 'Latitude',
 'Longitude']

In [7]:
df2 = df.loc[df['UF'] == 'RS']
df2 = df.loc[df['Município'] == 'Pelotas']
len(df2)

196

In [14]:
len(df)

158742

In [12]:
df.groupby(['Categoria Administrativa'])['Escola'].count()

Categoria Administrativa
Privada     34545
Pública    124197
Name: Escola, dtype: int64

In [16]:
df.groupby(['Porte da Escola'])['Escola'].count()

Porte da Escola
Até 50 matrículas de escolarização              26492
Entre 201 e 500 matrículas de escolarização     42247
Entre 501 e 1000 matrículas de escolarização    20335
Entre 51 e 200 matrículas de escolarização      53570
Escola sem matrícula de escolarização            1368
Mais de 1000 matrículas de escolarização         5524
Name: Escola, dtype: int64

In [20]:
df['Porte da Escola'].value_counts()

Entre 51 e 200 matrículas de escolarização      53570
Entre 201 e 500 matrículas de escolarização     42247
Até 50 matrículas de escolarização              26492
Entre 501 e 1000 matrículas de escolarização    20335
Mais de 1000 matrículas de escolarização         5524
Escola sem matrícula de escolarização            1368
Name: Porte da Escola, dtype: int64

In [23]:
df.describe()

        Código INEP       Latitude      Longitude
count  1.587420e+05  158742.000000  158742.000000
mean   3.085995e+07     -15.618903     -45.715318
std    9.469767e+06       8.780543       6.115467
min    1.100002e+07     -33.692120     -73.005554
25%    2.400194e+07     -23.119590     -49.217934
50%    3.127616e+07     -18.211475     -46.312286
75%    3.541755e+07      -7.151610     -41.599918
max    5.308500e+07       4.789615     -32.409753

In [24]:
df['Porte da Escola'].isna().sum()

9206

In [25]:
df['Porte da Escola'] = df['Porte da Escola'].fillna('Não definido')

In [26]:
df['Porte da Escola'].value_counts()

Entre 51 e 200 matrículas de escolarização      53570
Entre 201 e 500 matrículas de escolarização     42247
Até 50 matrículas de escolarização              26492
Entre 501 e 1000 matrículas de escolarização    20335
Não definido                                     9206
Mais de 1000 matrículas de escolarização         5524
Escola sem matrícula de escolarização            1368
Name: Porte da Escola, dtype: int64

In [8]:
#df2.to_csv('pelotas2.csv', sep='|')

In [9]:
#EMEF MARCIO DIAS

#df3 = df2.loc[df['Escola'] != 'EMEF MARCIO DIAS']
#len(df3)

In [10]:
new = df2.filter(['Escola','Latitude','Longitude', 'Porte da Escola',], axis=1)
new

,Escola,Latitude,Longitude,Porte da Escola
193767,COLEGIO TIRADENTES PELOTAS,-31.756633,-52.373175,Entre 51 e 200 matrículas de escolarização
193828,EEI MUNDO DO MICKEY,-31.771390,-52.329940,Até 50 matrículas de escolarização
193902,EEI CHAPEUZINHO VERMELHO,-31.762210,-52.343580,Até 50 matrículas de escolarização
193985,EEF TRES VENDAS,-31.731438,-52.346365,Entre 501 e 1000 matrículas de escolarização
193987,EEI REINO AZUL,-31.758710,-52.363290,Até 50 matrículas de escolarização
...,...,...,...,...
204971,EEI TAGARELAS,-31.761200,-52.239370,Até 50 matrículas de escolarização
204973,CENTRO INF BRICANDO DE APRENDER,-31.743850,-52.342600,NaN
204978,EEI DOCE MEL,-31.761920,-52.343230,NaN
204980,EEI MUNDO CRIATIVO,-31.756190,-52.331390,Até 50 matrículas de escolarização
205061,EEI TURMINHA DA EMILIA,-31.743930,-52.320980,NaN

In [27]:
def map_escolas():
    fig = px.scatter_mapbox(df, 
                            title="Escolas BR",
                            zoom=3, center={"lat": -11.44, "lon": -52.01},
                            lat="Latitude", lon="Longitude",
                            color='Porte da Escola',
                            hover_name="Escola", 
                            hover_data=['Restrição de Atendimento',
                             'Escola',
                             'Código INEP',
                             'UF',
                             'Município',
                             'Localização',
                             'Localidade Diferenciada',
                             'Categoria Administrativa',
                             'Endereço',
                             'Telefone',
                             'Dependência Administrativa',
                             'Categoria Escola Privada',
                             'Conveniada Poder Público',
                             'Regulamentação pelo Conselho de Educação',
                             'Porte da Escola',
                             'Etapas e Modalidade de Ensino Oferecidas',
                             'Outras Ofertas Educacionais',
                             'Latitude',
                             'Longitude']
                            
                                )
    #fig.update_layout(mapbox_style="open-street-map")
    fig.update_layout(mapbox_style="carto-positron")
    fig.update_traces(marker=dict(sizemin=2))
    return fig

fig = map_escolas()
#export_fig_html(fig, "locais_votacao_2022.html")
#fig.show()
fig.write_html("maps_escola.html")